*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#conteItemsCarrusel {
    height: 200px;
    overflow: hidden;
    
}

.ItemCarrusel {
    height: 200px;
    position: relative;
}

.tarjetaCarrusel {
    height: 200%;
    }

.FlechasCarrusel {
    height: 100%;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

}

a {
    color: white;
}

i {
    color: white;
}

