body {
    margin: 0;
    padding: 0;
    background: url(https://www.ecestaticos.com/imagestatic/clipping/0d6/464/0d6464658cec8e7d7f997affb0e5de76/las-normas-de-etiqueta-que-debes-seguir-si-quieres-triunfar-en-la-fiesta-de-nochevieja.jpg?mtime=1579562236) ;
}