*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body {
    font-family: 'Poppins', sans-serif;
}
/* contenedores */
.contenedor1{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0;
}
.about-us {
    background: #e9e8e8;
}

.contenedor-articulo {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-around;
    padding-bottom: 0px;

}

.contenedor1 h2{
    color: rgb(29, 28, 28);
}

.articulo {
    width: 29%;
    background: rgb(255, 255, 255);
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 45px 30px 60px 30px;
    transition: 0.4s;
}

.articulo:hover {
    box-shadow: 0 4px 10px rgba(17, 29, 48, .26);
}


.articulo>h3 {
    font-size: 24px;
    margin-top: 30px;
    color: black;

}

.articulo>p {
    font-weight: 100;
    color: #000000;
    margin-top: 15px;
    padding-bottom: 20px;
}

.articulo>a {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
}




#conteItemsCarrusel {
    height: 200px;
    overflow: hidden;
    
}

.ItemCarrusel {
    height: 200px;
    position: relative;
}

.tarjetaCarrusel {
    height: 200%;
    }

.FlechasCarrusel {
    height: 100%;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

}

a {
    color: white;
}

i {
    color: white;
}

