*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body {
    font-family: 'Poppins', sans-serif;
}
/* contenedores */

.contenedor1{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0;
}
.about-us {
    background: #e9e8e8;
}

.contenedor-articulo {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-around;
    padding-bottom: 0px;

}

.contenedor1 h2{
    color: rgb(29, 28, 28);
}

.articulo {
    width: 29%;
    background: rgb(255, 255, 255);
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 45px 30px 60px 30px;
    transition: 0.4s;
}

.articulo:hover {
    box-shadow: 0 4px 10px rgba(17, 29, 48, .26);
}


.articulo>h3 {
    font-size: 24px;
    margin-top: 30px;
    color: black;

}

.articulo>p {
    font-weight: 100;
    color: #000000;
    margin-top: 15px;
    padding-bottom: 20px;
}

.articulo>a {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
}
/* galeria */


/* footer */

footer {
    background: rgb(14, 13, 13);
    padding: 60px 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}

.partfooter {
    width: 20%;
    text-align: center;
}

.partfooter h4 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}

.partfooter a {
    display: block;
    text-decoration: none;
    color: #e4e7ee;
    font-weight: 300;
    transition: color .3s ease-in-out;
    margin-bottom: 10px;
}

.partfooter a:hover {
    color: rgba(3, 81, 154, 1)

}

.partfooter img {
    
    width: 60%;
}

.social-media i {
    font-size: 20px;
    display: inline-block;
    color: #e8ebf1;
    border: 1px solid #d9dde6;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 36px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    transition: all ease-in-out .3s;
    margin-right: 5px;
}

.social-media i:hover {
    color: #fff;
    background: rgba(3, 81, 154, 1);
    border-color: rgba(3, 81, 154, 1);
}

.social-media {
    display: inline-flex;
}


/*responsive*/
@media screen and (max-width:800px) {
    .articulo {
        width: 45%;
    }
    .services {
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media screen and (max-width:600px) {
    .articulo {
        width: 95%;
    }
    .services>img {
        width: 280px;
    }
    
    
    .partfooter {
        width: 95%;
        margin-bottom: 40px;
    }
}

#Busqueda {
    background-color: black;
    border-color: #000000;
}